<style>
    #text {
    position: relative;
    bottom: -35px;
    font-size: 75%;
    text-align: justify;
    max-width: 300px;
    }
</style>

<div id='text'>
    McGuffie,M.J. and Barrick,J.E. (2021) pLannotate: 
    engineered plasmid annotation. <i>Nucleic Acids Research</i> 
    <br>
    <b>DOI</b>: <a href="https://doi.org/10.1093/nar/gkab374">10.1093/nar/gkab374</a>
    <br>
    <br>
    pLannotate development was supported by the National Science 
    Foundation (CBET-1554179) and the NSF BEACON Center for the 
    Study of Evolution in Action (DBI-0939454)
</div>
